# Development Activity Monitor dataset including API

In [6]:
import requests
import pandas as pd
import os
import numpy as np

## API function

In [2]:
def fetch_data(base_url, dataset, api_key, num_records, max_offset, offset=0):
    all_records =[]
    #Maximum number of requests

    while True:
        # Maximum limit check
        if offset > max_offset:
            break
        
        # Create API request URL
        filters = f'{dataset}/records?&limit={num_records}&offset={offset}'
        url = f'{base_url}{filters}&api_key={api_key}'
        
        # Start request
        try:
            result = requests.get(url, timeout=10)
            result.raise_for_status()
            records = result.json().get('results')
        except requests.exceptions.RequestException as e:
            raise Exception(f'API request failed: {e}')
        
        if records is None:
            break
        
        all_records.extend(records)
        if len(records) < num_records:
            break
        
        # next cycle offset
        offset += num_records
    
    # Dataframe all data
    df = pd.DataFrame(all_records)
    return df

## Creating the DataSet .
#### - API key is obtained from the MOP
#### - API for dataset is displayed below:
https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/development-activity-monitor/records?limit=20
#### - Fetching the dataset
#### - Display the dataset

In [3]:
# API decontructed below:
API_KEY = 'd503386bd7565cee5ef152d9dec187036f46a47236cb9ffff66a05b6'
BASE_URL = "https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/"
DATASET = 'development-activity-monitor'
NUM_RECORD = 20
MAX_OFFSET = 1406

In [4]:
# Fetching the Dataset
df = fetch_data(BASE_URL, DATASET, API_KEY, NUM_RECORD, MAX_OFFSET)

In [5]:
# Displaying the Dataset
df.head(2)

,data_format,development_key,status,year_completed,clue_small_area,clue_block,street_address,property_id,property_id_2,property_id_3,...,hospital_flr,recreation_flr,publicdispaly_flr,community_flr,car_spaces,bike_spaces,town_planning_application,longitude,latitude,geopoint
0,Pre May 16,X000479,COMPLETED,2006,North Melbourne,342,191-201 Abbotsford Street NORTH MELBOURNE VIC ...,100023,None,None,...,0,0,0,0,0,0,0,144.945030,-37.802822,"{'lon': 144.9450298, 'lat': -37.80282184}"
1,Pre May 16,X000459,COMPLETED,2005,North Melbourne,333,218-224 Abbotsford Street NORTH MELBOURNE VIC ...,100119,None,None,...,0,0,0,0,0,0,0,144.945947,-37.802049,"{'lon': 144.9459475, 'lat': -37.80204879}"

## Steps for cleaning the dataset:
#### - Check for Null values
#### - General information such as Shape and description
#### - Checking for Duplicates

In [7]:
# Checking for Null values
df.isna().sum()

data_format                       0
development_key                   0
status                            0
year_completed                  377
clue_small_area                   0
clue_block                        0
street_address                    0
property_id                       0
property_id_2                  1239
property_id_3                  1367
property_id_4                  1393
property_id_5                  1404
floors_above                      0
resi_dwellings                    0
studio_dwe                        0
one_bdrm_dwe                      0
two_bdrm_dwe                      0
three_bdrm_dwe                    0
student_apartments                0
student_beds                      0
student_accommodation_units       0
institutional_accom_beds          0
hotel_rooms                       0
serviced_apartments               0
hotels_serviced_apartments        0
hostel_beds                       0
childcare_places                  0
office_flr                        0
retail_flr                        0
industrial_flr                    0
storage_flr                       0
education_flr                     0
hospital_flr                      0
recreation_flr                    0
publicdispaly_flr                 0
community_flr                     0
car_spaces                        0
bike_spaces                       0
town_planning_application         0
longitude                         0
latitude                          0
geopoint                          0
dtype: int64

In [8]:
# Checking the Shape of the DataSet
df.shape

(1407, 42)

In [9]:
# Describe
df.describe()

,clue_block,floors_above,resi_dwellings,studio_dwe,one_bdrm_dwe,two_bdrm_dwe,three_bdrm_dwe,student_apartments,student_beds,student_accommodation_units,...,storage_flr,education_flr,hospital_flr,recreation_flr,publicdispaly_flr,community_flr,car_spaces,bike_spaces,longitude,latitude
count,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,...,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000
mean,551.705046,13.852168,78.786780,1.314854,23.115849,29.083866,4.879886,12.689410,13.662402,17.790334,...,71.891258,260.282161,179.448472,121.103056,15.769012,19.739161,49.086709,51.737740,144.952397,-37.810723
std,507.439410,15.688088,156.933143,10.708723,63.554807,75.944719,15.724167,72.064789,89.849474,96.187654,...,724.760880,2203.759060,3719.272921,1690.767800,435.004756,226.245831,115.252495,129.339036,0.015950,0.012219
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,144.901272,-37.849229
25%,114.500000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,144.941898,-37.820009
50%,430.000000,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,144.954708,-37.811060
75%,790.000000,19.000000,82.500000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.000000,35.000000,144.962986,-37.802463
max,2547.000000,100.000000,1139.000000,181.000000,537.000000,627.000000,185.000000,783.000000,909.000000,909.000000,...,14000.000000,40832.000000,100000.000000,58935.000000,16073.000000,5332.000000,1275.000000,2068.000000,144.990561,-37.776195

In [10]:
# Checking for Duplicates
bool_list = df['development_key'].isna()
df[bool_list].loc[:,['development_key']].duplicated().sum()

0

In [11]:
# Checking for 'year_completed'
bool_list_2 = df['year_completed'].isna()
df[bool_list_2].shape

(377, 42)

In [12]:
df[bool_list_2]

,data_format,development_key,status,year_completed,clue_small_area,clue_block,street_address,property_id,property_id_2,property_id_3,...,hospital_flr,recreation_flr,publicdispaly_flr,community_flr,car_spaces,bike_spaces,town_planning_application,longitude,latitude,geopoint
348,Post May 16,X0004409,APPLIED,None,West Melbourne (Industrial),502,207 Kensington Road WEST MELBOURNE VIC 3003,105226,105227,None,...,0,0,0,0,422,146,TP-2018-512,144.916507,-37.800872,"{'lon': 144.9165074, 'lat': -37.80087212}"
349,Post May 16,X0005801,APPLIED,None,Parkville,928,11-49 Galada Avenue PARKVILLE VIC 3052,653559,612700,None,...,0,0,0,0,174,148,TPM-2016-18/A,144.940200,-37.781500,"{'lon': 144.9402, 'lat': -37.7815}"
350,Post May 16,X0007401,APPLIED,None,Carlton,206,"225-227 Lygon Street, Carlton, 3053",106120,None,None,...,0,0,0,0,0,10,TP-2019-524,144.966741,-37.800046,"{'lon': 144.966741, 'lat': -37.80004561}"
351,Post May 16,X0011803,APPLIED,None,Melbourne (CBD),11,"566-580 Flinders Street, Melbourne, 3000",103984,None,None,...,0,0,0,0,0,20,TP-2021-704,144.955336,-37.820711,"{'lon': 144.9553364, 'lat': -37.82071126}"
352,Post May 16,X0012600,APPLIED,None,East Melbourne,613,"204-208 Albert Street, East Melbourne 3002",100363,None,None,...,0,0,0,0,27,42,TP-2022-23,144.984330,-37.810136,"{'lon': 144.9843298, 'lat': -37.81013567}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,Post May 16,X0011801,UNDER CONSTRUCTION,None,Carlton,245,86-94 Pelham Street CARLTON VIC 3053,107554,None,None,...,0,0,0,0,56,137,TP-2015-742/C,144.964800,-37.802300,"{'lon': 144.9648, 'lat': -37.8023}"
1403,Post May 16,X0009410,UNDER CONSTRUCTION,None,East Melbourne,620,"250-260 Albert Street, East Melbourne, 3002",100361,None,None,...,0,0,0,0,35,25,TP-2020-574,144.982577,-37.809940,"{'lon': 144.9825767, 'lat': -37.80993999}"
1404,Post Oct 22,X0014017,UNDER CONSTRUCTION,None,Southbank,807,84-90 Queens Bridge Street SOUTHBANK VIC 3006,108056,110440,None,...,0,0,0,0,111,153,TPM-2013-30/D,144.959900,-37.825000,"{'lon': 144.9599, 'lat': -37.825}"
1405,Post Oct 22,X0013802,UNDER CONSTRUCTION,None,East Melbourne,621,364-370 Albert Street EAST MELBOURNE VIC 3002,100355,None,None,...,0,0,0,0,58,39,TP-2019-835/B,144.978950,-37.809569,"{'lon': 144.9789497, 'lat': -37.80956912}"
1406,Post May 16,X0012414,UNDER CONSTRUCTION,None,North Melbourne,2383,"139-149 Boundary Road, North Melbourne, 3051",616902,None,None,...,0,0,0,0,234,225,TPM-2020-2/A,144.939255,-37.790192,"{'lon': 144.9392553, 'lat': -37.79019229}"

## Conclusion:
### - Null Values:
        - Although there are Null values in the 'year_completed' as the build is not completed.
        - This feature do not need further work.
### - Shape:
        - The dataset has 1406 rows.
### - Duplicates:
        - No duplicates in dataset.

## Selecting features for the new dataset

In [17]:
df.head(2)

,data_format,development_key,status,year_completed,clue_small_area,clue_block,street_address,property_id,property_id_2,property_id_3,...,hospital_flr,recreation_flr,publicdispaly_flr,community_flr,car_spaces,bike_spaces,town_planning_application,longitude,latitude,geopoint
0,Pre May 16,X000479,COMPLETED,2006,North Melbourne,342,191-201 Abbotsford Street NORTH MELBOURNE VIC ...,100023,None,None,...,0,0,0,0,0,0,0,144.945030,-37.802822,"{'lon': 144.9450298, 'lat': -37.80282184}"
1,Pre May 16,X000459,COMPLETED,2005,North Melbourne,333,218-224 Abbotsford Street NORTH MELBOURNE VIC ...,100119,None,None,...,0,0,0,0,0,0,0,144.945947,-37.802049,"{'lon': 144.9459475, 'lat': -37.80204879}"

In [13]:
# Selecting columns as per index
data = df.iloc[:,[0,2,3,4,13,14,15,16,17,18]]

In [14]:
data.head(6)

,data_format,status,year_completed,clue_small_area,resi_dwellings,studio_dwe,one_bdrm_dwe,two_bdrm_dwe,three_bdrm_dwe,student_apartments
0,Pre May 16,COMPLETED,2006,North Melbourne,17,0,0,0,0,0
1,Pre May 16,COMPLETED,2005,North Melbourne,12,0,0,0,0,0
2,Pre May 16,COMPLETED,2013,West Melbourne (Residential),3,0,0,0,3,0
3,Pre May 16,COMPLETED,2014,West Melbourne (Residential),28,0,17,11,0,0
4,Pre May 16,COMPLETED,2007,North Melbourne,0,0,0,0,0,0
5,Pre May 16,COMPLETED,2002,Carlton,14,0,0,0,0,0

In [15]:
# Checking out the new dataset
data.loc[:,['status','clue_small_area','resi_dwellings','studio_dwe','one_bdrm_dwe','two_bdrm_dwe','three_bdrm_dwe','student_apartments']].groupby(['status','clue_small_area']).sum()

                                                 resi_dwellings  studio_dwe  \
status             clue_small_area
APPLIED            Carlton                                   87           3
                   Docklands                               1424         229
                   East Melbourne                             0           0
                   Kensington                               397          33
                   Melbourne (CBD)                          821           0
                   Melbourne (Remainder)                     83           0
                   North Melbourne                         1419         312
                   Parkville                                125           0
                   Port Melbourne                             0           0
                   South Yarra                               16           0
                   West Melbourne (Industrial)              384           0
                   West Melbourne (Residential)             458         117
APPROVED           Carlton                                  296           0
                   Docklands                               3847          65
                   East Melbourne                            92           0
                   Kensington                               964         158
                   Melbourne (CBD)                         2915           5
                   Melbourne (Remainder)                    148           0
                   North Melbourne                         1851           1
                   Parkville                                278           0
                   Port Melbourne                          1915           0
                   South Yarra                               28           0
                   Southbank                               7000          59
                   West Melbourne (Industrial)              160           0
                   West Melbourne (Residential)             434           5
COMPLETED          Carlton                                 5058          27
                   Docklands                              11174           9
                   East Melbourne                          1177           0
                   Kensington                              2684           4
                   Melbourne (CBD)                        32119         294
                   Melbourne (Remainder)                   1047          12
                   North Melbourne                         3912          20
                   Parkville                               1353           1
                   Port Melbourne                             1           0
                   South Yarra                               83           0
                   Southbank                              16399           4
                   West Melbourne (Industrial)                0           0
                   West Melbourne (Residential)            4661          17
UNDER CONSTRUCTION Carlton                                  157           0
                   Docklands                               2418         191
                   East Melbourne                           126           0
                   Kensington                              1037         104
                   Melbourne (CBD)                            0           0
                   Melbourne (Remainder)                     41           0
                   North Melbourne                          583           0
                   Parkville                                  6           0
                   Port Melbourne                             0           0
                   Southbank                               1345         180
                   West Melbourne (Residential)             330           0

                                                 one_bdrm_dwe  two_bdrm_dwe  \
status             clue_small_area
APPLIED            Carlton                                 26            29
                   Docklands                              528           576
                   East Melbourne                           0             0
                   Kensington                              87           219
                   Melbourne (CBD)                        370           405
                   Melbourne (Remainder)                    5            24
                   North Melbourne                        521           495
                   Parkville                               44            74
                   Port Melbourne                           0             0
                   South Yarra                              0             5
                   West Melbourne (Industrial)            169           188
                   West Melbourne (Residential)           211           108
APPROVED           Carlton                                105           120
                   Docklands                             1324          1804
                   East Melbourne                          13            33
                   Kensington                             277           414
                   Melbourne (CBD)                       1498          1284
                   Melbourne (Remainder)                   19            73
                   North Melbourne                        571          1033
                   Parkville                              147           131
                   Port Melbourne                         661           935
                   South Yarra                              0             1
                   Southbank                             2727          3430
                   West Melbourne (Industrial)             56            80
                   West Melbourne (Residential)           304           108
COMPLETED          Carlton                               1536          2091
                   Docklands                             2343          3338
                   East Melbourne                         105           183
                   Kensington                             182           329
                   Melbourne (CBD)                       8302         11138
                   Melbourne (Remainder)                  273           275
                   North Melbourne                       1140          1163
                   Parkville                              292           581
                   Port Melbourne                           0             0
                   South Yarra                             14            17
                   Southbank                             4756          5600
                   West Melbourne (Industrial)              0             0
                   West Melbourne (Residential)          1922          1903
UNDER CONSTRUCTION Carlton                                 37            95
                   Docklands                              869          1106
                   East Melbourne                           0            55
                   Kensington                             248           522
                   Melbourne (CBD)                          0             0
                   Melbourne (Remainder)                    0             0
                   North Melbourne                        181           311
                   Parkville                                0             0
                   Port Melbourne                           0             0
                   Southbank                              547           521
                   West Melbourne (Residential)           114           124

                                                 three_bdrm_dwe  \
status             clue_small_area
APPLIED            Carlton                                   29
                   Docklands                                 91
                   East Melbourne                             0
                   Kensington                                58
                   Melbourne (CBD)                           46
                   Melbourne (Remainder)                     54
                   North Melbourne                           91
                   Parkville                                  7
                   Port Melbourne                             0
                   South Yarra                               11
                   West Melbourne (Industrial)               27
                   West Melbourne (Residential)              23
APPROVED           Carlton                                   71
                   Docklands                                491
                   East Melbourne                            46
                   Kensington                               115
                   Melbourne (CBD)                          128
                   Melbourne (Remainder)                     56
                   North Melbourne                          246
                   Parkville                                  0
                   Port Melbourne                           319
                   South Yarra                               27
                   Southbank                                584
                   West Melbourne (Industrial)               24
                   West Melbourne (Residential)              17
COMPLETED          Carlton                                  188
                   Docklands                                564
                   East Melbourne                            94
                   Kensington                                32
                   Melbourne (CBD)                         1374
                   Melbourne (Remainder)                     47
                   North Melbourne                          216
                   Parkville                                 45
                   Port Melbourne                             0
                   South Yarra                               28
                   Southbank                                760
                   West Melbourne (Industrial)                0
                   West Melbourne (Residential)             249
UNDER CONSTRUCTION Carlton                                   25
                   Docklands                                122
                   East Melbourne                            71
                   Kensington                               163
                   Melbourne (CBD)                            0
                   Melbourne (Remainder)                     41
                   North Melbourne                           91
                   Parkville                                  6
                   Port Melbourne                             0
                   Southbank                                 97
                   West Melbourne (Residential)              92

                                                 student_apartments
status             clue_small_area
APPLIED            Carlton                                      206
                   Docklands                                      0
                   East Melbourne                                 0
                   Kensington                                     0
                   Melbourne (CBD)                              436
                   Melbourne (Remainder)                          0
                   North Melbourne                                0
                   Parkville                                      0
                   Port Melbourne                                 0
                   South Yarra                                    0
                   West Melbourne (Industrial)                    0
                   West Melbourne (Residential)                   0
APPROVED           Carlton                                     1615
                   Docklands                                      0
                   East Melbourne                                 0
                   Kensington                                     0
                   Melbourne (CBD)                              491
                   Melbourne (Remainder)                          0
                   North Melbourne                                0
                   Parkville                                      0
                   Port Melbourne                                 0
                   South Yarra                                    0
                   Southbank                                      0
                   West Melbourne (Industrial)                    0
                   West Melbourne (Residential)                  13
COMPLETED          Carlton                                     5547
                   Docklands                                      0
                   East Melbourne                                 0
                   Kensington                                     0
                   Melbourne (CBD)                             6271
                   Melbourne (Remainder)                          0
                   North Melbourne                             1506
                   Parkville                                    606
                   Port Melbourne                                 0
                   South Yarra                                    0
                   Southbank                                      0
                   West Melbourne (Industrial)                    0
                   West Melbourne (Residential)                 308
UNDER CONSTRUCTION Carlton                                      334
                   Docklands                                      0
                   East Melbourne                                 0
                   Kensington                                     0
                   Melbourne (CBD)                              521
                   Melbourne (Remainder)                          0
                   North Melbourne                                0
                   Parkville                                      0
                   Port Melbourne                                 0
                   Southbank                                      0
                   West Melbourne (Residential)                   0

In [16]:
# Saving data to be used offline
data.to_csv('data_dwelling.csv')