In [118]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [119]:
#import dataset from data.csv file
df = pd.read_csv('Dummy_Month.csv')
df.head()

   Unnamed: 0  Bay_id      Status  Hour  Minutes  DayOfWeek        Date
0           0    1001  Unoccupied     0        0  Wednesday  2021-08-04
1           1    1002     Present     0        0  Wednesday  2021-08-04
2           2    1003     Present     0        0  Wednesday  2021-08-04
3           3    1004  Unoccupied     0        0  Wednesday  2021-08-04
4           4    1005     Present     0        0  Wednesday  2021-08-04

In [120]:
del df['Unnamed: 0']

In [121]:
df = df.sort_values(["Bay_id", "Date", "Hour","Minutes"], ascending = (True, True, True, True))
df = df.reset_index(drop=True)
df

       Bay_id      Status  Hour  Minutes  DayOfWeek        Date
0        1001  Unoccupied     0        0  Wednesday  2021-08-04
1        1001  Unoccupied     0       15  Wednesday  2021-08-04
2        1001  Unoccupied     0       30  Wednesday  2021-08-04
3        1001     Present     0       45  Wednesday  2021-08-04
4        1001  Unoccupied     1        0  Wednesday  2021-08-04
...       ...         ...   ...      ...        ...         ...
13435    1005  Unoccupied    22       45    Tuesday  2021-08-31
13436    1005     Present    23        0    Tuesday  2021-08-31
13437    1005     Present    23       15    Tuesday  2021-08-31
13438    1005     Present    23       30    Tuesday  2021-08-31
13439    1005  Unoccupied    23       45    Tuesday  2021-08-31

[13440 rows x 6 columns]

In [122]:
df.loc[df.Date <= '2021-08-10', 'Week_Number'] = '1'
df.loc[(df.Date >= '2021-08-11') & (df.Date <= '2021-08-17'), 'Week_Number'] = '2'
df.loc[(df.Date >= '2021-08-18') & (df.Date <= '2021-08-24'), 'Week_Number'] = '3'
df.loc[(df.Date >= '2021-08-25') & (df.Date <= '2021-08-31'), 'Week_Number'] = '4'

In [123]:
df

       Bay_id      Status  Hour  Minutes  DayOfWeek        Date Week_Number
0        1001  Unoccupied     0        0  Wednesday  2021-08-04           1
1        1001  Unoccupied     0       15  Wednesday  2021-08-04           1
2        1001  Unoccupied     0       30  Wednesday  2021-08-04           1
3        1001     Present     0       45  Wednesday  2021-08-04           1
4        1001  Unoccupied     1        0  Wednesday  2021-08-04           1
...       ...         ...   ...      ...        ...         ...         ...
13435    1005  Unoccupied    22       45    Tuesday  2021-08-31           4
13436    1005     Present    23        0    Tuesday  2021-08-31           4
13437    1005     Present    23       15    Tuesday  2021-08-31           4
13438    1005     Present    23       30    Tuesday  2021-08-31           4
13439    1005  Unoccupied    23       45    Tuesday  2021-08-31           4

[13440 rows x 7 columns]

In [124]:
df.Week_Number.value_counts()

1    3360
2    3360
3    3360
4    3360
Name: Week_Number, dtype: int64

In [125]:
df.to_csv('Month_DummyData_WeekNo.csv')