In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('PCS_cleaned.csv')
data1=pd.read_csv('sensor_details.csv')

In [3]:
data1

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,59,Building 80 RMIT,RMIT_T,2019/02/13,A,NaN,North,South,-37.808256,144.963049,"(-37.80825648, 144.96304859)"
1,23,Spencer St-Collins St (South),Col623_T,2013/09/02,A,NaN,East,West,-37.819093,144.954527,"(-37.81909256, 144.95452749)"
2,20,Chinatown-Lt Bourke St (South),LtB170_T,2013/09/06,A,NaN,East,West,-37.811729,144.968247,"(-37.81172913, 144.9682466)"
3,34,Flinders St-Spark La,Fli32_T,2014/06/08,A,NaN,East,West,-37.815380,144.974150,"(-37.81537985, 144.9741505)"
4,57,Bourke St Bridge,BouBri_T,2018/08/13,A,NaN,West,East,-37.817673,144.950256,"(-37.8176735, 144.95025595)"
...,...,...,...,...,...,...,...,...,...,...,...
61,39,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
62,17,Collins Place (South),Col15_T,2009/03/30,A,Device is upgraded in 26/02/2020,East,West,-37.813625,144.973236,"(-37.81362542, 144.97323592)"
63,65,Swanston St - City Square,SwaCs_T,2020/03/12,A,NaN,North,South,-37.815694,144.966806,"(-37.81569416, 144.96680641)"
64,66,State Library - New,QVN_T,2020/04/06,A,NaN,South,North,-37.810578,144.964443,"(-37.81057845, 144.96444294)"
65,15,State Library,QV_T,2009/03/25,R,NaN,South,North,-37.810644,144.964471,"(-37.81064378, 144.96447132)"

In [4]:
data=pd.merge(data, data1, left_on = 'Sensor_ID', right_on='sensor_id', how = 'left', left_index=False)
data=data.drop('sensor_id', axis=1)
data=data.iloc[:,[6,7,8,0,1,2,3,4,5]]

In [5]:
data['Date_Time']=pd.to_datetime(data['Date_Time'])

In [6]:
data_stage_3 = data[(data['Date_Time']>=dt.datetime(2020,4,1)) & (data['Date_Time']<dt.datetime(2020,6,15))]
data_stage_2 = data[(data['Date_Time']>=dt.datetime(2020,6,15)) & (data['Date_Time']<dt.datetime(2020,7,31))]
data_stage_4 = data[data['Date_Time']>=dt.datetime(2020,7,31)]

In [7]:
data_stage_2_weekday = data_stage_2[data_stage_2['Day']<5]
data_stage_3_weekday = data_stage_3[data_stage_3['Day']<5]
data_stage_4_weekday = data_stage_4[data_stage_4['Day']<5]

In [8]:
data_stage_2_weekend = data_stage_2[data_stage_2['Day']>=5]
data_stage_3_weekend = data_stage_3[data_stage_3['Day']>=5]
data_stage_4_weekend = data_stage_4[data_stage_4['Day']>=5]

In [9]:
location=[]
lng=[]
lat=[]
stage_2_weekday = pd.DataFrame(columns = np.unique(data_stage_2_weekday['Time']),
                               index = np.unique(data_stage_2_weekday['sensor_description']))
for i in np.unique(data_stage_2_weekday['sensor_description']): 
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_2_weekday['Time']):
        stage_2_weekday.loc[i,j] = data_stage_2_weekday[(data_stage_2_weekday['Time']==j) & (data_stage_2_weekday['sensor_description']==i)]['Hourly_Counts'].mean()
stage_2_weekday['location'] = location        
stage_2_weekday['longitude'] = lng 
stage_2_weekday['latitude'] = lat

In [10]:
location=[]
lng=[]
lat=[]
stage_3_weekday = pd.DataFrame(columns = np.unique(data_stage_3_weekday['Time']),
                               index = np.unique(data_stage_3_weekday['sensor_description']))
for i in np.unique(data_stage_3_weekday['sensor_description']):
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_3_weekday['Time']):
        stage_3_weekday.loc[i,j] = data_stage_3_weekday[(data_stage_3_weekday['Time']==j) & (data_stage_3_weekday['sensor_description']==i)]['Hourly_Counts'].mean()
stage_3_weekday['location'] = location      
stage_3_weekday['longitude'] = lng 
stage_3_weekday['latitude'] = lat

In [11]:
location=[]
lng=[]
lat=[]
stage_4_weekday = pd.DataFrame(columns = np.unique(data_stage_4_weekday['Time']),
                               index = np.unique(data_stage_4_weekday['sensor_description']))
for i in np.unique(data_stage_4_weekday['sensor_description']):
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_4_weekday['Time']):
        stage_4_weekday.loc[i,j] = data_stage_4_weekday[(data_stage_4_weekday['Time']==j) & (data_stage_4_weekday['sensor_description']==i)]['Hourly_Counts'].mean()
stage_4_weekday['location'] = location        
stage_4_weekday['longitude'] = lng 
stage_4_weekday['latitude'] = lat

In [12]:
location=[]
lng=[]
lat=[]
stage_2_weekend = pd.DataFrame(columns = np.unique(data_stage_2_weekend['Time']),
                               index = np.unique(data_stage_2_weekend['sensor_description']))
for i in np.unique(data_stage_2_weekend['sensor_description']):
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_2_weekend['Time']):
        stage_2_weekend.loc[i,j] = data_stage_2_weekend[(data_stage_2_weekend['Time']==j) & (data_stage_2_weekend['sensor_description']==i)]['Hourly_Counts'].mean()
stage_2_weekend['location'] = location       
stage_2_weekend['longitude'] = lng 
stage_2_weekend['latitude'] = lat

In [13]:
location=[]
lng=[]
lat=[]
stage_3_weekend = pd.DataFrame(columns = np.unique(data_stage_3_weekend['Time']),
                               index = np.unique(data_stage_3_weekend['sensor_description']))
for i in np.unique(data_stage_3_weekend['sensor_description']):
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_3_weekend['Time']):
        stage_3_weekend.loc[i,j] = data_stage_3_weekend[(data_stage_3_weekend['Time']==j) & (data_stage_3_weekend['sensor_description']==i)]['Hourly_Counts'].mean()
stage_3_weekend['location'] = location       
stage_3_weekend['longitude'] = lng 
stage_3_weekend['latitude'] = lat

In [14]:
location=[]
lng=[]
lat=[]
stage_4_weekend = pd.DataFrame(columns = np.unique(data_stage_4_weekend['Time']),
                               index = np.unique(data_stage_4_weekend['sensor_description']))
for i in np.unique(data_stage_4_weekend['sensor_description']):
    location.append(data1[data1['sensor_description']==i]['location'].values[0])
    lng.append(data1[data1['sensor_description']==i]['longitude'].values[0])
    lat.append(data1[data1['sensor_description']==i]['latitude'].values[0])
    for j in np.unique(data_stage_4_weekend['Time']):
        stage_4_weekend.loc[i,j] = data_stage_4_weekend[(data_stage_4_weekend['Time']==j) & (data_stage_4_weekend['sensor_description']==i)]['Hourly_Counts'].mean()
stage_4_weekend['location'] = location      
stage_4_weekend['longitude'] = lng 
stage_4_weekend['latitude'] = lat

In [15]:
stage_2_weekday.to_csv('stage_2_weekday.csv')
stage_3_weekday.to_csv('stage_3_weekday.csv')
stage_4_weekday.to_csv('stage_4_weekday.csv')
stage_2_weekend.to_csv('stage_2_weekend.csv')
stage_3_weekend.to_csv('stage_3_weekend.csv')
stage_4_weekend.to_csv('stage_4_weekend.csv')

In [27]:
print('stage_2_weekday:\n',stage_2_weekday.iloc[:,:-3].sum(axis=1).nlargest(5))
print('\n stage_3_weekday:\n',stage_3_weekday.iloc[:,:-3].sum(axis=1).nlargest(5))
print('\n stage_4_weekday:\n',stage_4_weekday.iloc[:,:-3].sum(axis=1).nlargest(5))
print('\n stage_2_weekend:\n',stage_2_weekend.iloc[:,:-3].sum(axis=1).nlargest(5))
print('\n stage_3_weekend:\n',stage_3_weekend.iloc[:,:-3].sum(axis=1).nlargest(5))
print('\n stage_4_weekend"\n',stage_4_weekend.iloc[:,:-3].sum(axis=1).nlargest(5))

stage_2_weekday:
 Flinders St-Elizabeth St (East)    15582.058824
Flinders La-Swanston St (West)     12463.970588
Elizabeth St-La Trobe St (East)    10786.500000
Town Hall (West)                    9650.000000
Bourke Street Mall (North)          9433.058824
dtype: float64

 stage_3_weekday:
 Flinders St-Elizabeth St (East)           13799.283019
Flinders La-Swanston St (West)             9070.320755
Elizabeth St-La Trobe St (East)            8993.943396
Melbourne Convention Exhibition Centre     8885.163522
State Library                              8029.396226
dtype: float64

 stage_4_weekday:
 Flinders St-Elizabeth St (East)                                               12127.0
Elizabeth St-La Trobe St (East)                                                8577.0
Flinders La-Swanston St (West)                                                 7787.0
Melbourne Central-Elizabeth St (East)Melbourne Central-Elizabeth St (East)     6175.0
Town Hall (West)                                                               5821.0
dtype: float64

 stage_2_weekend:
 Flinders St-Elizabeth St (East)    13035.583333
Flinders La-Swanston St (West)     10299.333333
Elizabeth St-La Trobe St (East)    10253.500000
Bourke Street Mall (North)         10106.583333
Town Hall (West)                    8524.916667
dtype: float64

 stage_3_weekend:
 Flinders St-Elizabeth St (East)           12034.409091
Melbourne Convention Exhibition Centre     9368.378788
Elizabeth St-La Trobe St (East)            9118.954545
State Library                              8646.772727
Bourke Street Mall (North)                 8325.681818
dtype: float64

 stage_4_weekend"
 Series([], dtype: float64)

In [19]:
print(stage_2_weekday.iloc[:,:-3].sum(axis=0).nlargest(5))
print('\n',stage_3_weekday.iloc[:,:-3].sum(axis=0).nlargest(5))
print('\n',stage_4_weekday.iloc[:,:-3].sum(axis=0).nlargest(5))
print('\n',stage_2_weekend.iloc[:,:-3].sum(axis=0).nlargest(5))
print('\n',stage_3_weekend.iloc[:,:-3].sum(axis=0).nlargest(5))
print('\n',stage_4_weekend.iloc[:,:-3].sum(axis=0).nlargest(5))

17    20847.044118
13    20512.035714
16    20464.388655
15    20359.669468
14    19831.225490
dtype: float64

 17    18653.510204
13    18354.692337
16    18192.536645
15    17773.354383
14    17532.208317
dtype: float64

 15    14356.0
13    14255.0
16    14172.0
14    13901.0
17    13805.0
dtype: float64

 14    22258.866667
15    21640.266667
13    21064.672222
16    19382.738889
12    18543.555556
dtype: float64

 14    21795.210606
13    21015.506061
15    20693.650000
16    18956.589394
12    18547.984848
dtype: float64

 Series([], dtype: float64)