In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import datetime
#User Story 4: As an Analyst,
# I need to check where and how many new sensors are installed onwards 2020, 
# so that I can check that area is new. (Pranali)

In [6]:
data = pd.read_csv("Pedestrian_Sensor_Locations.csv")
data

    sensor_id  ...                      location
0          59  ...  (-37.80825648, 144.96304859)
1          23  ...  (-37.81909256, 144.95452749)
2          20  ...   (-37.81172913, 144.9682466)
3          34  ...   (-37.81537985, 144.9741505)
4          57  ...   (-37.8176735, 144.95025595)
..        ...  ...                           ...
61         39  ...  (-37.81379749, 144.96995745)
62         17  ...  (-37.81362542, 144.97323592)
63         65  ...  (-37.81569416, 144.96680641)
64         66  ...  (-37.81057845, 144.96444294)
65         15  ...  (-37.81064378, 144.96447132)

[66 rows x 11 columns]

In [13]:
#filter data on installation date:
filter_data = data[(data['installation_date'] >= '2020/01/01')]
filter_data

    sensor_id  ...                      location
59         63  ...  (-37.81333081, 144.96675572)
60         64  ...  (-37.79949544, 144.95792282)
63         65  ...  (-37.81569416, 144.96680641)
64         66  ...  (-37.81057845, 144.96444294)

[4 rows x 11 columns]

In [14]:
#saving it to csv
filter_data.to_csv('new_sensor.csv') 
pd.read_csv("new_sensor.csv")

   Unnamed: 0  sensor_id  ...   longitude                      location
0          59         63  ...  144.966756  (-37.81333081, 144.96675572)
1          60         64  ...  144.957923  (-37.79949544, 144.95792282)
2          63         65  ...  144.966806  (-37.81569416, 144.96680641)
3          64         66  ...  144.964443  (-37.81057845, 144.96444294)

[4 rows x 12 columns]